.form-section {
  position: relative;
  background: url(../img/smart.png) center center no-repeat;
  background-size: cover;
  color: white;
  width: 100%;

}


.form {
  display: flex;
  
}

.form__col {
  flex: 1;
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 11px;
}

.form__block {
  flex: 1;
  margin-right: 17px;
  

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border: solid 3px transparent;
  border-radius: 5px;

  &:focus {
    border-color: $red;
    outline: none;
  }

  &--textarea {
    height: 156px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    margin-bottom: 14px;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: flex;

  cursor: pointer;
  user-select: none;

  &--checkbox {
    .radio__visible {
      border-radius: 4px;
      margin-bottom: 46px;
    
  

    &::before {
      background: url(../img/check.png) center center no-repeat;
    }
  }
}
}

.radio__title {
  margin-left: 10px;
  margin-right: 16px;
  margin-bottom: 19px;
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible{
  &::before {
    display: block;
  }
  }
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  

  &:before {
    content: "";
    height: 13px;
    width: 13px;
    display: none;
    background: $red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
