.fullscreenmenu {
  position: fixed;
  background-color: #313131;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(36px);
  top: 0;
  left: 100%;
  z-index: 100000000;
  transition: left .4s;

  &__close {
    position: absolute;
    top: 2%;
    right: 2%;
  }
 
  
  &__item {
    margin-bottom: 5%;
  }

  &__link {
    text-decoration: none;
  }

  &--column {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &--opened {
    left: 0;
  }

}


