.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #292929;
  margin-bottom: 30px;
}

.logo {
  height: 40px;
  width: 40px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 45px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}