.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}