@import './normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
.hero {
  background-color: #F5F5F5;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -1.875rem;
  right: 15%;
  content: url(../img/Rectangle.png);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding-top: 1.5rem;
  padding-bottom: 4.0625rem;
  min-height: 40.625rem;
}

.hero__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hero__display {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.hero__title-section {
  width: 40%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 90%;
  }
}

.hero__title-wrapper {
  display: block;
  top: 10%;
}

.hero__main-title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.375rem;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    font-size: 2.25rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .hero__main-title {
    font-size: 1.375rem;
  }
}

.hero__title-desc {
  font-size: 1.3125rem;
  margin-bottom: 2.25rem;
  padding-right: 15%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    font-size: 1.125rem;
    padding: 0;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__img-main {
    width: 303px;
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 400px) {
  .hero__img-main {
    width: 220px;
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.125rem;
  color: #292929;
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 0.625rem;
  }
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
}

.menu {
  margin: 0 3%;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 2.8125rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__item {
  margin-right: 0.625rem;
}
.feature__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 2.5rem;
}

.feature__text {
  max-width: 7.1875rem;
  margin-left: 0.75rem;
}

.button {
  font-weight: 700;
  padding: 1.125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.button--theme--red {
  background: #E01F3D;
  color: #FFF;
}
.button--theme--red:hover {
  color: #E01F3D;
  background: #FFF;
}
.button--theme--transparent {
  background: transparent;
  text-transform: none;
  color: white;
  font-weight: normal;
}
.button--theme--transparent:hover {
  color: #E01F3D;
}
.button__icon {
  fill: white;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 100000;
  position: relative;
  cursor: pointer;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3.3125rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 400px) {
  .section__title {
    font-size: 1.375rem;
    margin-bottom: 1.375rem;
  }
}

.desc {
  color: #666666;
}

.why__headline {
  text-align: center;
  margin-bottom: 3.875rem;
}
@media screen and (max-width: 400px) {
  .why__headline {
    margin-bottom: 1.875rem;
  }
}

.why__title {
  margin-bottom: 1.125rem;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .why__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .why__title {
    margin-bottom: 0.625rem;
  }
}

.why__subtitle {
  color: #666666;
  padding: 0 10%;
}

.why__desctitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.why-section {
  position: relative;
}
.why-section:after {
  position: absolute;
  left: 6.25rem;
  bottom: -1.25rem;
  content: url(../img/triangle.png);
  z-index: 100;
}
@media screen and (max-width: 480px) {
  .why-section:after {
    left: 3.125rem;
  }
}
@media screen and (max-width: 400px) {
  .why-section:after {
    left: 1.25rem;
  }
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .why {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.why__item:before {
  content: url(../img/Combination.png);
  position: absolute;
  top: 2.8125rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .why__item:before {
    display: none;
  }
}
.why__item:first-child {
  padding-left: 0;
}
.why__item:last-child {
  padding-right: 0;
}
.why__item:last-child::before {
  display: none;
}
@media screen and (max-width: 480px) {
  .why__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}

.why__img-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 8rem;
  height: 8rem;
  position: relative;
  background-color: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 400px) {
  .why__img-wrapper {
    display: none;
  }
}

.why__icon {
  width: 4.375rem;
  height: 4.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 400px) {
  .why__icon {
    display: none;
  }
}

.battery {
  width: 2.5rem;
}

.why__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.4375rem;
}

.why__desc {
  color: #666666;
  text-align: left;
  margin-left: 3%;
}
@media screen and (max-width: 400px) {
  .why__desc {
    font-size: 0.875rem;
  }
}

.reviews-section {
  position: relative;
}
.reviews-section:after {
  position: absolute;
  content: url(../img/Ellipse.png);
  left: 6.25rem;
  bottom: -1.875rem;
  z-index: 90;
}
@media screen and (max-width: 400px) {
  .reviews-section:after {
    left: 1.875rem;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem 2.625rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.9375rem;
}
.reviews__display:before {
  content: "";
  display: block;
  height: 5.1875rem;
  width: 5.1875rem;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.8125rem;
}

.reviews__list {
  min-height: 12.5rem;
}

.reviews__item {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.reviews__item.active {
  opacity: 1;
  position: static;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
  margin-right: 2.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    height: 8.125rem;
    width: 8.125rem;
    margin-right: 0;
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 400px) {
  .reviews__avatar {
    height: 6.25rem;
    width: 6.25rem;
    margin-right: 0;
    margin-bottom: 4%;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.6875rem;
}
@media screen and (max-width: 400px) {
  .reviews__title {
    font-size: 1.25rem;
    margin-bottom: 0.875rem;
  }
}

.reviews__text {
  color: #666;
  margin-bottom: 2.375rem;
}
@media screen and (max-width: 400px) {
  .reviews__text {
    margin-bottom: 0.875rem;
  }
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: 700;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.reviews__switcher-item:hover {
  border-color: #E01F3D;
}
.reviews__switcher-item.active {
  border-color: #E01F3D;
}

.reviews__switcher-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-section {
  position: relative;
  background: url(../img/smart.png) center center no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .form-section {
    line-height: 1.05;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 14%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.0625rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6875rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.125rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.0625rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.125rem 0.75rem;
  border: solid 0.1875rem transparent;
  border-radius: 0.3125rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 9.75rem;
  width: 100%;
  resize: none;
  border-radius: 0.3125rem;
  margin-bottom: 0.875rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem;
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 400px) {
  .form__input {
    padding: 0.25rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
  margin-bottom: 2.875rem;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/check.png) center center no-repeat;
}

.radio__title {
  margin-left: 0.625rem;
  margin-right: 1rem;
  margin-bottom: 1.1875rem;
}

.radio__elem {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__elem:focus ~ .radio__visible {
  border-color: #E01F3D;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: solid 0.125rem transparent;
}
.radio__visible:before {
  content: "";
  height: 0.8125rem;
  width: 0.8125rem;
  display: none;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 1.5%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #E01F3D;
}

.map__img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hamburger {
  width: 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.footer {
  position: relative;
  width: 100%;
}

.footer__container {
  padding: 1% 0;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.socials__item {
  margin-right: 0.625rem;
  display: inline-block;
  vertical-align: middle;
}
.socials__item :last-child {
  margin-right: 0;
}

.socials__icon {
  display: block;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  fill: grey;
}
.socials__icon :hover {
  fill: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 480px) {
  .socials__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.shop {
  background-color: #F8FAF9;
  position: relative;
}
.shop:before {
  position: absolute;
  content: url(../img/shop_design.png);
  right: 10%;
  bottom: -3%;
}

.shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.shop__container .bx-wrapper {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop__arrow {
  display: block;
  top: 50%;
  border: none;
  height: 1.75rem;
  width: 2.375rem;
  cursor: pointer;
}

.direction-left {
  position: absolute;
  left: 0;
  background: url("/img/left.png") center center no-repeat;
}

.direction-right {
  position: absolute;
  right: 0;
  background: url("/img/left.png") center center no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

.shop__headphones {
  min-width: 100%;
}

.shop__block {
  margin: 3% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .shop__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shop__img {
  height: 28.25rem;
  width: 28.25rem;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .shop__img {
    height: 19.125rem;
    width: 19.125rem;
    margin-right: 0%;
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 480px) {
  .shop__img {
    height: 16rem;
    width: 16rem;
    margin-right: 0%;
    margin-bottom: 3%;
  }
}

.shop__info {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .shop__info {
    width: 100%;
    text-align: center;
  }
}

.shop__menu {
  height: 5.6875rem;
  width: 5.6875rem;
  background-color: #9A9A9A;
  border-radius: 3px;
  margin-bottom: 3%;
}
@media screen and (max-width: 768px) {
  .shop__menu {
    display: none;
  }
}

.shop__dropdown {
  display: "";
  height: 18.375rem;
  width: 17.0625rem;
}
@media screen and (max-width: 768px) {
  .shop__dropdown {
    display: none;
  }
}

.shop__menu-img {
  content: url(../img/parameters.png);
  position: relative;
  height: 2.625rem;
  width: rem 42px;
  top: 25%;
  left: 25%;
}

.shop__title {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 3%;
}
@media screen and (max-width: 768px) {
  .shop__title {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 480px) {
  .shop__title {
    font-size: 1.375rem;
  }
}

.shop__text {
  color: #666666;
  margin-bottom: 3%;
}

.shop__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .shop__blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shop__blocks-block {
  margin-right: 10%;
}
@media screen and (max-width: 768px) {
  .shop__blocks-block {
    margin-right: 5%;
    text-align: left;
  }
}

.shop__price {
  font-size: 2.25rem;
}

.shop--button {
  display: block;
}

.dropdown__menu {
  background-color: white;
  opacity: 0.8;
  width: 17.0625rem;
  left: 5.6875rem;
  bottom: 15%;
  display: "";
  position: relative;
  display: none;
}

.dropdown:hover .dropdown__menu {
  display: block;
  cursor: pointer;
}

.fullscreenmenu {
  position: fixed;
  background-color: #313131;
  color: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.25rem;
  top: 0;
  left: 100%;
  z-index: 100000000;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
}
.fullscreenmenu__close {
  position: absolute;
  top: 2%;
  right: 2%;
}
.fullscreenmenu__item {
  margin-bottom: 5%;
}
.fullscreenmenu__link {
  text-decoration: none;
}
.fullscreenmenu--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.fullscreenmenu--opened {
  left: 0;
}

.team-section {
  position: relative;
  height: 100vh;
}
.team__title {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 400px) {
  .team__title {
    font-size: 1.375rem;
    margin-bottom: 1.375rem;
  }
}
.team__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: white;
  border: 0;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .team__subtitle {
    margin-right: 0;
    padding: 0;
    margin-bottom: 4%;
  }
}
.team__subtitle-img {
  margin-left: 4%;
}
.team--version--desktop {
  position: relative;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}
.team--version--tablets {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--tablets {
    display: block;
  }
}
.team__item {
  margin-right: 1.25rem;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-right: 0;
  }
}
.team__item:last-child {
  margin-right: 0;
}
.team__img {
  position: relative;
  height: 18.125rem;
  width: 13.75rem;
  overflow: hidden;
  margin-bottom: 6%;
}
.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
  position: absolute;
  text-align: center;
  top: 100%;
  margin-bottom: 3%;
}
@media screen and (max-width: 768px) {
  .team__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
.team__content-block {
  width: 13.75rem;
  padding: 0 1%;
}
@media screen and (max-width: 768px) {
  .team__content-block {
    text-align: center;
    padding: 0;
  }
}

.active .team__subtitle-img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Play", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiashed;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #292929;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
}