.modal {

  position: fixed;
  display: none;
  

  &.error-modal {
    .modal__content {
      color: red;
    }
  }

  &.fancybox-content {
    padding: 0 !important;
  }

  &-close {
    display: none;
  }

  &__container {
    background: white;
    padding: rem(35px) rem(60px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}