.team {
 
  &__title {
  position: relative;
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;

  @include tablets {
    padding-bottom: 1%;
    
  }

  @include mini {
    font-size: rem(22px);
    padding-bottom: rem(22px);
  }}

  &__subtitle {
    display: flex;
    align-items: center;
    font-size: rem(18px);
    font-weight: 700;
    justify-content: center;
    width: 100%;
    background-color: white;
    border: 0;
    cursor: pointer;

    @include tablets {
      padding-right: 0;
      padding-bottom: 4%;
    }

    &-img {
      margin-left: 4%;

      
    }

  }

  &--version--desktop {
    position: relative;
    top: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    @include tablets {
      display: none;
    }
  }

  &--version--tablets {
    display: none;

    @include tablets {
      display: block;
    }
  }

  &__item {
    margin-right: rem(20px);

    @include tablets {
      margin-right: 0;
    }
    
    &:last-child {
      margin-right: 0;;
  }

  }

  &__img {
    position: relative;
    height: rem(290px);
    width: rem(220px);
    overflow: hidden;
    margin-bottom: 6%;

  }


  &__content{
    overflow: hidden;
    transition: height .3s;
    height: 0;
    position: absolute;
    text-align: center;
    top: 100%;
    margin-bottom: 3%;

    @include tablets {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin: 0;
    }

    &-block {
      width: rem(220px);
      padding: 0 1%;

      @include tablets {
        text-align: center;
        padding: 0;
      }
    }
  }
}

.active {
  .team__subtitle-img {
    transform: rotate(180deg);
  }
}