.why__headline {
  text-align: center;
  margin-bottom: rem(62px);

  @include mini {
  margin-bottom: rem(30px);
  }
}

.why__title {
  margin-bottom: rem(18px);
  font-size: rem(32px);

  @include mini {
    margin-bottom: rem(10px);
  }
}

.why__subtitle {
  color: #666666;
  padding: 0 10%;

  
}

.why-section {
  position: relative;

  &:after {
    position: absolute;
    left: rem(100px);
    bottom: rem(-20px);
    content: url(../img/triangle.png);
    z-index: 100;

    @include phones {
      left: rem(50px);
    }

    @include mini {
      left: rem(20px);
    }
  }
  
}


.why {
  display: flex;
  text-align: center;

  @include phones {
    flex-direction: column;
  }
}

.why__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:before {
    content: url(../img/Combination.png);
    position: absolute;
    top: rem(45px);
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before{
      display: none;
    }
  }

  @include phones {
    display: flex;
    padding: 0;
  }

  
}

.why__img-wrapper {
  display: inline-flex;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background-color: #F2F5F4;
  border-radius: 50%;
  margin-bottom: rem(24px);

  @include mini {
    display: none;
  }
}

.why__icon {
  width: rem(70px);
  height: rem(70px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mini {
    display: none;
  }
}

.battery {
  width: rem(40px);
}

.why__title {
  font-size: rem(24px);
  font-weight: 700;
  margin-bottom: rem(7px);
}

.why__desc {
  color: #666666;
  text-align: left;
  margin-left: 3%;

  @include mini {
    font-size: rem(14px);
  }
}
